Virgulle ayrilmis degerler (Comma sperated values)

open() function  ve .read() metodu ile acilabilir. duz text olarak okuruz
csv.reader(file_name) ile satirlar ve kolonlar olarak acabiliriz. her satir liste icinde olur

In [9]:
with open("people.csv", 'r', encoding="utf-8") as people:
    print(people.read())

In [10]:
import csv  # loads csv module

with open("fruits.csv", 'r', newline = '', encoding = 'utf-8') as file:  # newline='' bos string yapilmalidir
    csv_rows = csv.reader(file)  # reader() function takes each
                                 # row (lines) into a list
    for row in csv_rows: 
        print(row)

['no', 'fruit', 'amount']
['1', 'Banana', '4 lb']
['2', 'Orange', '5 lb']
['3', 'Apple', '2 lb']
['4', 'Strawberry', '6 lb']
['5', 'Cherry', '3 lb']

In [11]:
with open("titanic.csv") as file:
    print(file.read())

PassengerId	Survived	Pclass	Name	Sex	Age	SibSp	Parch	Ticket	Fare	Cabin	Embarked
1	0	3	Braund, Mr. Owen Harris	male	22	1	0	A/5 21171	7.25		S
2	1	1	Cumings, Mrs. John Bradley (Florence Briggs Thayer)	female	38	1	0	PC 17599	71.2833	C85	C
3	1	3	Heikkinen, Miss. Laina	female	26	0	0	STON/O2. 3101282	7.925		S
4	1	1	Futrelle, Mrs. Jacques Heath (Lily May Peel)	female	35	1	0	113803	53.1	C123	S
5	0	3	Allen, Mr. William Henry	male	35	0	0	373450	8.05		S
6	0	3	Moran, Mr. James	male		0	0	330877	8.4583		Q
7	0	1	McCarthy, Mr. Timothy J	male	54	0	0	17463	51.8625	E46	S
8	0	3	Palsson, Master. Gosta Leonard	male	2	3	1	349909	21.075		S
9	1	3	Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)	female	27	0	2	347742	11.1333		S
10	1	2	Nasser, Mrs. Nicholas (Adele Achem)	female	14	1	0	237736	30.0708		C
11	1	3	Sandstrom, Miss. Marguerite Rut	female	4	1	1	PP 9549	16.7	G6	S
12	1	1	Bonnell, Miss. Elizabeth	female	58	0	0	113783	26.55	C103	S
13	0	3	Saundercock, Mr. William Henry	male	20	0	0	A/5. 2151	8.05		S
14	0	3	Andersson, Mr. Anders Johan	male	39	1	5	347082	31.275		S
15	0	3	Vestrom, Miss. Hulda Amanda Adolfina	female	14	0	0	350406	7.8542		S
16	1	2	Hewlett, Mrs. (Mary D Kingcome) 	female	55	0	0	248706	16		S
17	0	3	Rice, Master. Eugene	male	2	4	1	382652	29.125		Q
18	1	2	Williams, Mr. Charles Eugene	male		0	0	244373	13		S
19	0	3	Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)	female	31	1	0	345763	18		S
20	1	3	Masselmani, Mrs. Fatima	female		0	0	2649	7.225		C
21	0	2	Fynney, Mr. Joseph J	male	35	0	0	239865	26		S
22	1	2	Beesley, Mr. Lawrence	male	34	0	0	248698	13	D56	S
23	1	3	McGowan, Miss. Anna "Annie"	female	15	0	0	330923	8.0292		Q
24	1	1	Sloper, Mr. William Thompson	male	28	0	0	113788	35.5	A6	S
25	0	3	Palsson, Miss. Torborg Danira	female	8	3	1	349909	21.075		S
26	1	3	Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)	female	38	1	5	347077	31.3875		S
27	0	3	Emir, Mr. Farred Chehab	male		0	0	2631	7.225		C
28	0	1	Fortune, Mr. Charles Alexander	male	19	3	2	19950	263	C23 C25 C27	S
29	1	3	O'Dwyer, Miss. Ellen "Nellie"	female		0	0	330959	7.8792		Q
30	0	3	Todoroff, Mr. Lalio	male		0	0	349216	7.8958		S
31	0	1	Uruchurtu, Don. Manuel E	male	40	0	0	PC 17601	27.7208		C
32	1	1	Spencer, Mrs. William Augustus (Marie Eugenie)	female		1	0	PC 17569	146.5208	B78	C
33	1	3	Glynn, Miss. Mary Agatha	female		0	0	335677	7.75		Q
34	0	2	Wheadon, Mr. Edward H	male	66	0	0	C.A. 24579	10.5		S
35	0	1	Meyer, Mr. Edgar Joseph	male	28	1	0	PC 17604	82.1708		C
36	0	1	Holverson, Mr. Alexander Oskar	male	42	1	0	113789	52		S
37	1	3	Mamee, Mr. Hanna	male		0	0	2677	7.2292		C
38	0	3	Cann, Mr. Ernest Charles	male	21	0	0	A./5. 2152	8.05		S
39	0	3	Vander Planke, Miss. Augusta Maria	female	18	2	0	345764	18		S
40	1	3	Nicola-Yarred, Miss. Jamila	female	14	1	0	2651	11.2417		C
41	0	3	Ahlin, Mrs. Johan (Johanna Persdotter Larsson)	female	40	1	0	7546	9.475		S
42	0	2	Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)	female	27	1	0	11668	21		S
43	0	3	Kraeff, Mr. Theodor	male		0	0	349253	7.8958		C
44	1	2	Laroche, Miss. Simonne Marie Anne Andree	female	3	1	2	SC/Paris 2123	41.5792		C
45	1	3	Devaney, Miss. Margaret Delia	female	19	0	0	330958	7.8792		Q
46	0	3	Rogers, Mr. William John	male		0	0	S.C./A.4. 23567	8.05		S
47	0	3	Lennon, Mr. Denis	male		1	0	370371	15.5		Q
48	1	3	O'Driscoll, Miss. Bridget	female		0	0	14311	7.75		Q
49	0	3	Samaan, Mr. Youssef	male		2	0	2662	21.6792		C
50	0	3	Arnold-Franchi, Mrs. Josef (Josefine Franchi)	female	18	1	0	349237	17.8		S
51	0	3	Panula, Master. Juha Niilo	male	7	4	1	3101295	39.6875		S
52	0	3	Nosworthy, Mr. Richard Cater	male	21	0	0	A/4. 39886	7.8		S
53	1	1	Harper, Mrs. Henry Sleeper (Myna Haxtun)	female	49	1	0	PC 17572	76.7292	D33	C
54	1	2	Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)	female	29	1	0	2926	26		S
55	0	1	Ostby, Mr. Engelhart Cornelius	male	65	0	1	113509	61.9792	B30	C
56	1	1	Woolner, Mr. Hugh	male		0	0	19947	35.5	C52	S
57	1	2	Rugg, Miss. Emily	female	21	0	0	C.A. 31026	10.5		S
58	0	3	Novel, Mr. Mansouer	male	28.5	0	0	2697	7.2292		C
59	1	2	West, Miss. Constance Mirium	female	5	1	2	C.A. 34651	27.75		S
60	0	3	Goodwin, Master. William Frederick	male	11	5	2	CA 2144	46.9		S
61	0	3	Sirayanian, Mr. Orsen	male	22	0	0	2669	7.2292		C
62	1	1	Icard, Miss. Amelie	female	38	0	0	113572	80	B28
63	0	1	Harris, Mr. Henry Birkhardt	male	45	1	0	36973	83.475	C83	S
64	0	3	Skoog, Master. Harald	male	4	3	2	347088	27.9		S
65	0	1	Stewart, Mr. Albert A	male		0	0	PC 17605	27.7208		C
66	1	3	Moubarek, Master. Gerios	male		1	1	2661	15.2458		C
67	1	2	Nye, Mrs. (Elizabeth Ramell)	female	29	0	0	C.A. 29395	10.5	F33	S
68	0	3	Crease, Mr. Ernest James	male	19	0	0	S.P. 3464	8.1583		S
69	1	3	Andersson, Miss. Erna Alexandra	female	17	4	2	3101281	7.925		S
70	0	3	Kink, Mr. Vincenz	male	26	2	0	315151	8.6625		S
71	0	2	Jenkin, Mr. Stephen Curnow	male	32	0	0	C.A. 33111	10.5		S
72	0	3	Goodwin, Miss. Lillian Amy	female	16	5	2	CA 2144	46.9		S
73	0	2	Hood, Mr. Ambrose Jr	male	21	0	0	S.O.C. 14879	73.5		S
74	0	3	Chronopoulos, Mr. Apostolos	male	26	1	0	2680	14.4542		C
75	1	3	Bing, Mr. Lee	male	32	0	0	1601	56.4958		S
76	0	3	Moen, Mr. Sigurd Hansen	male	25	0	0	348123	7.65	F G73	S
77	0	3	Staneff, Mr. Ivan	male		0	0	349208	7.8958		S
78	0	3	Moutal, Mr. Rahamin Haim	male		0	0	374746	8.05		S
79	1	2	Caldwell, Master. Alden Gates	male	0.83	0	2	248738	29		S
80	1	3	Dowdell, Miss. Elizabeth	female	30	0	0	364516	12.475		S
81	0	3	Waelens, Mr. Achille	male	22	0	0	345767	9		S
82	1	3	Sheerlinck, Mr. Jan Baptist	male	29	0	0	345779	9.5		S
83	1	3	McDermott, Miss. Brigdet Delia	female		0	0	330932	7.7875		Q
84	0	1	Carrau, Mr. Francisco M	male	28	0	0	113059	47.1		S
85	1	2	Ilett, Miss. Bertha	female	17	0	0	SO/C 14885	10.5		S
86	1	3	Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)	female	33	3	0	3101278	15.85		S
87	0	3	Ford, Mr. William Neal	male	16	1	3	W./C. 6608	34.375		S
88	0	3	Slocovski, Mr. Selman Francis	male		0	0	SOTON/OQ 392086	8.05		S
89	1	1	Fortune, Miss. Mabel Helen	female	23	3	2	19950	263	C23 C25 C27	S
90	0	3	Celotti, Mr. Francesco	male	24	0	0	343275	8.05		S
91	0	3	Christmann, Mr. Emil	male	29	0	0	343276	8.05		S
92	0	3	Andreasson, Mr. Paul Edvin	male	20	0	0	347466	7.8542		S
93	0	1	Chaffee, Mr. Herbert Fuller	male	46	1	0	W.E.P. 5734	61.175	E31	S
94	0	3	Dean, Mr. Bertram Frank	male	26	1	2	C.A. 2315	20.575		S
95	0	3	Coxon, Mr. Daniel	male	59	0	0	364500	7.25		S
96	0	3	Shorney, Mr. Charles Joseph	male		0	0	374910	8.05		S
97	0	1	Goldschmidt, Mr. George B	male	71	0	0	PC 17754	34.6542	A5	C
98	1	1	Greenfield, Mr. William Bertram	male	23	0	1	PC 17759	63.3583	D10 D12	C
99	1	2	Doling, Mrs. John T (Ada Julia Bone)	female	34	0	1	231919	23		S
100	0	2	Kantor, Mr. Sinai	male	34	1	0	244367	26		S
101	0	3	Petranec, Miss. Matilda	female	28	0	0	349245	7.8958		S
102	0	3	Petroff, Mr. Pastcho ("Pentcho")	male		0	0	349215	7.8958		S
103	0	1	White, Mr. Richard Frasar	male	21	0	1	35281	77.2875	D26	S
104	0	3	Johansson, Mr. Gustaf Joel	male	33	0	0	7540	8.6542		S
105	0	3	Gustafsson, Mr. Anders Vilhelm	male	37	2	0	3101276	7.925		S
106	0	3	Mionoff, Mr. Stoytcho	male	28	0	0	349207	7.8958		S
107	1	3	Salkjelsvik, Miss. Anna Kristine	female	21	0	0	343120	7.65		S
108	1	3	Moss, Mr. Albert Johan	male		0	0	312991	7.775		S
109	0	3	Rekic, Mr. Tido	male	38	0	0	349249	7.8958		S
110	1	3	Moran, Miss. Bertha	female		1	0	371110	24.15		Q
111	0	1	Porter, Mr. Walter Chamberlain	male	47	0	0	110465	52	C110	S
112	0	3	Zabour, Miss. Hileni	female	14.5	1	0	2665	14.4542		C
113	0	3	Barton, Mr. David John	male	22	0	0	324669	8.05		S
114	0	3	Jussila, Miss. Katriina	female	20	1	0	4136	9.825		S
115	0	3	Attalah, Miss. Malake	female	17	0	0	2627	14.4583		C
116	0	3	Pekoniemi, Mr. Edvard	male	21	0	0	STON/O 2. 3101294	7.925		S
117	0	3	Connors, Mr. Patrick	male	70.5	0	0	370369	7.75		Q
118	0	2	Turpin, Mr. William John Robert	male	29	1	0	11668	21		S
119	0	1	Baxter, Mr. Quigg Edmond	male	24	0	1	PC 17558	247.5208	B58 B60	C
120	0	3	Andersson, Miss. Ellis Anna Maria	female	2	4	2	347082	31.275		S
121	0	2	Hickman, Mr. Stanley George	male	21	2	0	S.O.C. 14879	73.5		S
122	0	3	Moore, Mr. Leonard Charles	male		0	0	A4. 54510	8.05		S
123	0	2	Nasser, Mr. Nicholas	male	32.5	1	0	237736	30.0708		C
124	1	2	Webber, Miss. Susan	female	32.5	0	0	27267	13	E101	S
125	0	1	White, Mr. Percival Wayland	male	54	0	1	35281	77.2875	D26	S
126	1	3	Nicola-Yarred, Master. Elias	male	12	1	0	2651	11.2417		C
127	0	3	McMahon, Mr. Martin	male		0	0	370372	7.75		Q
128	1	3	Madsen, Mr. Fridtjof Arne	male	24	0	0	C 17369	7.1417		S
129	1	3	Peter, Miss. Anna	female		1	1	2668	22.3583	F E69	C
130	0	3	Ekstrom, Mr. Johan	male	45	0	0	347061	6.975		S
131	0	3	Drazenoic, Mr. Jozef	male	33	0	0	349241	7.8958		C
132	0	3	Coelho, Mr. Domingos Fernandeo	male	20	0	0	SOTON/O.Q. 3101307	7.05		S
133	0	3	Robins, Mrs. Alexander A (Grace Charity Laury)	female	47	1	0	A/5. 3337	14.5		S
134	1	2	Weisz, Mrs. Leopold (Mathilde Francoise Pede)	female	29	1	0	228414	26		S
135	0	2	Sobey, Mr. Samuel James Hayden	male	25	0	0	C.A. 29178	13		S
136	0	2	Richard, Mr. Emile	male	23	0	0	SC/PARIS 2133	15.0458		C
137	1	1	Newsom, Miss. Helen Monypeny	female	19	0	2	11752	26.2833	D47	S
138	0	1	Futrelle, Mr. Jacques Heath	male	37	1	0	113803	53.1	C123	S
139	0	3	Osen, Mr. Olaf Elon	male	16	0	0	7534	9.2167		S
140	0	1	Giglio, Mr. Victor	male	24	0	0	PC 17593	79.2	B86	C
141	0	3	Boulos, Mrs. Joseph (Sultana)	female		0	2	2678	15.2458		C
142	1	3	Nysten, Miss. Anna Sofia	female	22	0	0	347081	7.75		S
143	1	3	Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)	female	24	1	0	STON/O2. 3101279	15.85		S
144	0	3	Burke, Mr. Jeremiah	male	19	0	0	365222	6.75		Q
145	0	2	Andrew, Mr. Edgardo Samuel	male	18	0	0	231945	11.5		S
146	0	2	Nicholls, Mr. Joseph Charles	male	19	1	1	C.A. 33112	36.75		S
147	1	3	Andersson, Mr. August Edvard ("Wennerstrom")	male	27	0	0	350043	7.7958		S
148	0	3	Ford, Miss. Robina Maggie "Ruby"	female	9	2	2	W./C. 6608	34.375		S
149	0	2	Navratil, Mr. Michel ("Louis M Hoffman")	male	36.5	0	2	230080	26	F2	S
150	0	2	Byles, Rev. Thomas Roussel Davids	male	42	0	0	244310	13		S
151	0	2	Bateman, Rev. Robert James	male	51	0	0	S.O.P. 1166	12.525		S
152	1	1	Pears, Mrs. Thomas (Edith Wearne)	female	22	1	0	113776	66.6	C2	S
153	0	3	Meo, Mr. Alfonzo	male	55.5	0	0	A.5. 11206	8.05		S
154	0	3	van Billiard, Mr. Austin Blyler	male	40.5	0	2	A/5. 851	14.5		S
155	0	3	Olsen, Mr. Ole Martin	male		0	0	Fa 265302	7.3125		S
156	0	1	Williams, Mr. Charles Duane	male	51	0	1	PC 17597	61.3792		C

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("titanic.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [12]:
df.Sex.value_counts(dropna = False)

male      577
female    314
Name: Sex, dtype: int64

In [11]:
bayanlar = df[df["Sex"] == "female"]
bayanlar

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [13]:
bayanlar.to_csv("titanic_bayanlar.csv", index = False)

In [14]:
import smtplib

In [ ]:
server= smtplib.SMTP("smtp.gmail.com", 587)
server.starttls()

server.login("mail_adress2, "password")

message = "\n This is my text mail from Goksel. \n How are you?"             
             
server.sendmail("alici mail adresi", message)
server.quit()
             
# gmailde guvenlik prokolunu dusurmemiz gerekiyor